    <!-- 导航 开始 -->
    <div class="warpper">
      <div class="menu">
        <ul>
          <li><a href="#">美食推荐 </a><span class="hot"></span></li>
          <li><a href="#">电影信息</a></li>
          <li><a href="#">住宿宾馆</a></li>
          <li><a href="#">旅游娱乐</a></li>
        </ul>
      </div>
      <div id="nav">
        <div class="mod_cate_hd">全部商品分类</div>
        <ul class="tit">
          <li class="mod_cate">
            <h2><i class="arrow_dot fr"></i><a href="#">美食</a></h2>
            <p class="mod_cate_r"><a href="#">自助餐</a><a href="#">小吃</a><a href="#">新疆菜</a><a href="#">韩国料理</a></p>
            <div class="mod_subcate">
              <div class="mod_subcate_main">
                <dl>
                  <dt>热门推荐</dt>
                  <dd> <a href="#">ipad air</a><a href="#">mini</a><a href="#">Surface</a><a href="3">移动硬盘1TB</a><a href="#">无线键盘</a><a href="#">游戏鼠标</a> </dd>
                </dl>
                <div class="mod_subcate_channel"><a class="mod_btn_arrow" href="#"><b>电脑整机频道</b><i class="arrow_dot"></i></a><a class="mod_btn_arrow" href="#"><b>硬件/外设频道</b><i class="arrow_dot"></i></a><a class="mod_btn_arrow" href="#"><b>电脑附件频道</b><i class="arrow_dot"></i></a><a class="mod_btn_arrow" href="#"><b>音频馆</b><i class="arrow_dot"></i></a><a class="mod_btn_arrow" href="#"><b>腾讯周边</b><i class="arrow_dot"></i></a></div>
              </div>
            </div>
          </li>
          <li class="mod_cate">
            <h2><i class="arrow_dot fr"></i><a href="#">住宿</a></h2>
            <p class="mod_cate_r"><a href="#">经济型</a><a href="#"> 豪华酒店</a><a href="#"> 主题酒店</a></p>
            <div class="mod_subcate">
              <div class="mod_subcate_main">
                <dl>
                  <dt>热门推荐</dt>
                  <dd> <a href="#">ipad air</a><a href="#">mini</a><a href="#">Surface</a><a href="3">移动硬盘1TB</a><a href="#">无线键盘</a><a href="#">游戏鼠标</a> </dd>
                </dl>
                <div class="mod_subcate_channel"><a class="mod_btn_arrow" href="#"><b>电脑整机频道</b><i class="arrow_dot"></i></a><a class="mod_btn_arrow" href="#"><b>硬件/外设频道</b><i class="arrow_dot"></i></a><a class="mod_btn_arrow" href="#"><b>电脑附件频道</b><i class="arrow_dot"></i></a><a class="mod_btn_arrow" href="#"><b>音频馆</b><i class="arrow_dot"></i></a><a class="mod_btn_arrow" href="#"><b>腾讯周边</b><i class="arrow_dot"></i></a></div>
              </div>
            </div>
          </li>
          <li class="mod_cate">
            <h2><i class="arrow_dot fr"></i><a href="#">娱乐</a></h2>
            <p class="mod_cate_r"><a href="#">电玩/游戏厅</a><a href="#"> 运动健身</a></p>
            <div class="mod_subcate">
              <div class="mod_subcate_main">
                <dl>
                  <dt>电视</dt>
                  <dd> <a href="#">全部</a><a href="#">创维</a><a class="org" href="#">海信</a><a href="3">TCL</a><a href="#">康佳</a><a href="#">长虹</a><a class="org" href="#">夏普</a><a href="#">三星</a><a class="org" href="#">索尼</a><a href="#">乐华</a><a href="#">LG</a><a href="#">联想</a><a href="#">熊猫</a><a href="#">三洋</a><a href="#">东芝</a><a class="org" href="#">乐视</a><a href="#">更多></a> <i class="mod_subcate_line"></i> <a href="#">32英寸</a><a href="#">39-40英寸</a><a href="#">42-43英寸</a><a class="org" href="#">46-48英寸</a><a href="#">50-55英寸</a><a href="#">60英寸以上</a><a href="#">32英寸以下</a> </dd>
                </dl>
                <div class="mod_subcate_channel"><a class="mod_btn_arrow" href="#"><b>彩电影音/空调冰洗频道</b><i class="arrow_dot"></i></a></div>
              </div>
            </div>
          </li>
          <li class="mod_cate">
            <h2><i class="arrow_dot fr"></i><a href="#">便民</a></h2>
            <p class="mod_cate_r"><a href="#">培训课程</a><a href="#">汽车服务</a></p>
            <div class="mod_subcate">
              <div class="mod_subcate_main">
                <dl>
                  <dt>生活小电</dt>
                  <dd> <a class="org" href="#">空气净化器</a><a class="org" href="#">取暖设备</a><a class="org" href="#">电热油汀</a><a href="#">快热炉</a><a href="#">暖风机</a><a href="#">小太阳</a> </dd>
                </dl>
                <div class="mod_subcate_channel"><a class="mod_btn_arrow" href="#"><b>厨卫电器频道</b><i class="arrow_dot"></i></a><a class="mod_btn_arrow" href="#"><b>生活电器频道</b><i class="arrow_dot"></i></a></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div id="hdp"><!-- 代码 开始 -->
        <div id="fsD1" class="focus" >
          <div id="D1pic1" class="fPic">
            <div class="fcon" style="display: none;"> <a target="_blank" href="#"><img src="images/01.png" style="opacity: 1; "></a> </div>
            <div class="fcon" style="display: none;"> <a target="_blank" href="#"><img src="images/02.jpg" style="opacity: 1; "></a> </div>
            <div class="fcon" style="display: none;"> <a target="_blank" href="#"><img src="images/03.jpg" style="opacity: 1; "></a> </div>
            <div class="fcon" style="display: none;"> <a target="_blank" href="#"><img src="images/04.jpg" style="opacity: 1; "></a> </div>
          </div>
          <div class="fbg">
            <div class="D1fBt" id="D1fBt"> <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>1</i></a> <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>2</i></a> <a href="javascript:void(0)" hidefocus="true" target="_self" class="current"><i>3</i></a> <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i>4</i></a> </div>
          </div>
          <span class="prev"></span> <span class="next"></span> </div>
        <script type="text/javascript">
	Qfast.add('widgets', { path: "js/terminator2.2.min.js", type: "js", requires: ['fx'] });  
	Qfast(false, 'widgets', function () {
		K.tabs({
			id: 'fsD1',   //焦点图包裹id  
			conId: "D1pic1",  //** 大图域包裹id  
			tabId:"D1fBt",  
			tabTn:"a",
			conCn: '.fcon', //** 大图域配置class       
			auto: 1,   //自动播放 1或0
			effect: 'fade',   //效果配置
			eType: 'click', //** 鼠标事件
			pageBt:true,//是否有按钮切换页码
			bns: ['.prev', '.next'],//** 前后按钮配置class                          
			interval: 3000  //** 停顿时间  
		}) 
	})  
</script> 
        <!-- 代码 结束 --></div>
      <div id="tzgg">
        <div class="ewm"><img src="images/ewm.png" width="146" height="146" /></div>
        <p>扫描下载APP</p>
        <div class="title">公告</div>
        <ul class="font_05">
          <li><a href="#" target="_blank">巴楚县三水玉其布拉克萤...</a></li>
          <li><a href="#" target="_blank">巴楚县三水玉其布拉克萤...</a></li>
          <li><a href="#" target="_blank">巴楚县三水玉其布拉克萤...</a></li>
          <li><a href="#" target="_blank">巴楚县三水玉其布拉克萤...</a></li>
          <li><a href="#" target="_blank">巴楚县三水玉其布拉克萤...</a></li>
        </ul>
      </div>
    </div>
    <script type="text/javascript">
$("#nav .tit").slide({
	type:"menu",
	titCell:".mod_cate",
	targetCell:".mod_subcate",
	delayTime:0,
	triggerTime:10,
	defaultPlay:false,
	returnDefault:true
});
</script> 
    <!-- 导航 结束 --> 
    
    <!--内容部分 开始-->
    <div class="conent">
      <div class="title"> <span class="fl"><img src="images/fl_01.png" width="32" height="17" /></span> <span class="bt">美食推荐</span> <span class="bq font_03"><a href="#" target="_blank">甜点饮品</a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a> &nbsp;&nbsp;<a href="#" target="_blank">小吃快餐</a>&nbsp;&nbsp; <a href="#" target="_blank">日韩料理</a>&nbsp;&nbsp; <a href="#" target="&nbsp;">西餐</a> &nbsp;&nbsp;<a href="#" target="_blank">聚餐宴请</a> &nbsp;&nbsp;<a href="#" target="_blank">烧烤烤肉</a>&nbsp;&nbsp; <a href="#" target="_blank">东北菜</a> &nbsp;&nbsp;<a href="#" target="_blank">川湘菜</a></span> </div>
      <div class="mun"> <img src="images/ad.png" width="198" height="198" />
        <ul>
          <h1 class="font_03"><a href="#" target="_blank">代金券</a></h1>
          <p class="font_02"><a href="#" target="_blank">甜点饮品 </a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a></p>
          <h1 class="font_03"><a href="#" target="_blank">代金券</a></h1>
          <p class="font_02"><a href="#" target="_blank">甜点饮品 </a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a></p>
          <h1 class="font_03"><a href="#" target="_blank">代金券</a></h1>
          <p class="font_02"><a href="#" target="_blank">甜点饮品 </a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a></p>
          <h1 class="font_03"><a href="#" target="_blank">代金券</a></h1>
          <p class="font_02"><a href="#" target="_blank">甜点饮品 </a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a></p>
        </ul>
      </div>
      <div class="img">
        <div class="pic">
          <div class="bq1"><img src="images/bq1.png" width="43" height="40" /></div>
          <div class="bq2"><img src="images/bq2.png" width="43" height="40" /></div>
          <img src="images/img_01.jpg" width="225" height="225" />
          <h1><a href="#" target="_blank">万岁日本料理</a></h1>
          <p class="font_02">仅售88元！价值100元的代金券1张</p>
          <dd><span class="jq font_04">¥88</span><span class="yjq">门店价：100</span><span class=" sl">已售24835</span>
            <div class="clear"></div>
          </dd>
        </div>
        <div class="pic">
          <div class="bq1"><img src="images/bq1.png" width="43" height="40" /></div>
          <div class="bq2"><img src="images/bq2.png" width="43" height="40" /></div>
          <img src="images/img_01.jpg" width="225" height="225" />
          <h1><a href="#" target="_blank">万岁日本料理</a></h1>
          <p class="font_02">仅售88元！价值100元的代金券1张</p>
          <dd><span class="jq font_04">¥88</span><span class="yjq">门店价：100</span><span class=" sl">已售24835</span>
            <div class="clear"></div>
          </dd>
        </div>
        <div class="pic">
          <div class="bq1"><img src="images/bq1.png" width="43" height="40" /></div>
          <div class="bq2"><img src="images/bq2.png" width="43" height="40" /></div>
          <img src="images/img_01.jpg" width="225" height="225" />
          <h1><a href="#" target="_blank">万岁日本料理</a></h1>
          <p class="font_02">仅售88元！价值100元的代金券1张</p>
          <dd><span class="jq font_04">¥88</span><span class="yjq">门店价：100</span><span class=" sl">已售24835</span>
            <div class="clear"></div>
          </dd>
        </div>
        <div class="pic" style="border-right:none;">
          <div class="bq1"><img src="images/bq1.png" width="43" height="40" /></div>
          <div class="bq2"><img src="images/bq2.png" width="43" height="40" /></div>
          <img src="images/img_01.jpg" width="225" height="225" />
          <h1><a href="#" target="_blank">万岁日本料理</a></h1>
          <p class="font_02">仅售88元！价值100元的代金券1张</p>
          <dd><span class="jq font_04">¥88</span><span class="yjq">门店价：100</span><span class=" sl">已售24835</span>
            <div class="clear"></div>
          </dd>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="conent">
      <div class="title"> <span class="fl"><img src="images/fl_02.png" width="32" height="17" /></span> <span class="bt">电影信息</span> <span class="bq font_03"><a href="#" target="_blank">甜点饮品</a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a> &nbsp;&nbsp;<a href="#" target="_blank">小吃快餐</a>&nbsp;&nbsp; <a href="#" target="_blank">日韩料理</a>&nbsp;&nbsp; <a href="#" target="&nbsp;">西餐</a> &nbsp;&nbsp;<a href="#" target="_blank">聚餐宴请</a> &nbsp;&nbsp;<a href="#" target="_blank">烧烤烤肉</a>&nbsp;&nbsp; <a href="#" target="_blank">东北菜</a> &nbsp;&nbsp;<a href="#" target="_blank">川湘菜</a></span> </div>
      <div class="mun"> <img src="images/ad.png" width="198" height="198" />
        <ul>
          <h1 class="font_03"><a href="#" target="_blank">代金券</a></h1>
          <p class="font_02"><a href="#" target="_blank">甜点饮品 </a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a></p>
          <h1 class="font_03"><a href="#" target="_blank">代金券</a></h1>
          <p class="font_02"><a href="#" target="_blank">甜点饮品 </a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a></p>
          <h1 class="font_03"><a href="#" target="_blank">代金券</a></h1>
          <p class="font_02"><a href="#" target="_blank">甜点饮品 </a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a></p>
          <h1 class="font_03"><a href="#" target="_blank">代金券</a></h1>
          <p class="font_02"><a href="#" target="_blank">甜点饮品 </a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a></p>
        </ul>
      </div>
      <div class="img">
        <div class="pic">
          <div class="bq1"><img src="images/bq2.png" width="43" height="40" /></div>
          <img src="images/img_02.jpg" width="225" height="225" />
          <h1><a href="#" target="_blank">奥斯卡国际影城</a></h1>
          <p class="font_02">沙依巴克区 友好路689号美美百货6楼</p>
          <dd><span class="jq font_04">¥35</span><span class="yjq">起</span>
            <div class="clear"></div>
          </dd>
        </div>
        <div class="pic">
          <div class="bq1"><img src="images/bq2.png" width="43" height="40" /></div>
          <img src="images/img_02.jpg" width="225" height="225" />
          <h1><a href="#" target="_blank">奥斯卡国际影城</a></h1>
          <p class="font_02">沙依巴克区 友好路689号美美百货6楼</p>
          <dd><span class="jq font_04">¥35</span><span class="yjq">起</span>
            <div class="clear"></div>
          </dd>
        </div>
        <div class="pic">
          <div class="bq1"><img src="images/bq2.png" width="43" height="40" /></div>
          <img src="images/img_02.jpg" width="225" height="225" />
          <h1><a href="#" target="_blank">奥斯卡国际影城</a></h1>
          <p class="font_02">沙依巴克区 友好路689号美美百货6楼</p>
          <dd><span class="jq font_04">¥35</span><span class="yjq">起</span>
            <div class="clear"></div>
          </dd>
        </div>
        <div class="pic" style="border-right:none;">
          <div class="bq1"><img src="images/bq2.png" width="43" height="40" /></div>
          <img src="images/img_02.jpg" width="225" height="225" />
          <h1><a href="#" target="_blank">奥斯卡国际影城</a></h1>
          <p class="font_02">沙依巴克区 友好路689号美美百货6楼</p>
          <dd><span class="jq font_04">¥35</span><span class="yjq">起</span>
            <div class="clear"></div>
          </dd>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="conent">
      <div class="title"> <span class="fl"><img src="images/fl_03.png" width="32" height="17" /></span> <span class="bt">住宿宾馆</span> <span class="bq font_03"><a href="#" target="_blank">甜点饮品</a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a> &nbsp;&nbsp;<a href="#" target="_blank">小吃快餐</a>&nbsp;&nbsp; <a href="#" target="_blank">日韩料理</a>&nbsp;&nbsp; <a href="#" target="&nbsp;">西餐</a> &nbsp;&nbsp;<a href="#" target="_blank">聚餐宴请</a> &nbsp;&nbsp;<a href="#" target="_blank">烧烤烤肉</a>&nbsp;&nbsp; <a href="#" target="_blank">东北菜</a> &nbsp;&nbsp;<a href="#" target="_blank">川湘菜</a></span> </div>
      <div class="mun"> <img src="images/ad.png" width="198" height="198" />
        <ul>
          <h1 class="font_03"><a href="#" target="_blank">代金券</a></h1>
          <p class="font_02"><a href="#" target="_blank">甜点饮品 </a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a></p>
          <h1 class="font_03"><a href="#" target="_blank">代金券</a></h1>
          <p class="font_02"><a href="#" target="_blank">甜点饮品 </a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a></p>
          <h1 class="font_03"><a href="#" target="_blank">代金券</a></h1>
          <p class="font_02"><a href="#" target="_blank">甜点饮品 </a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a></p>
          <h1 class="font_03"><a href="#" target="_blank">代金券</a></h1>
          <p class="font_02"><a href="#" target="_blank">甜点饮品 </a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a></p>
        </ul>
      </div>
      <div class="img">
        <div class="pic">
        <div class="bq1"><img src="images/bq1.png" width="43" height="40" /></div>
        <img src="images/img_03.jpg" width="225" height="225" />
          <h1><a href="#" target="_blank">如家快捷酒店</a></h1>
          <p class="font_02">入住4小时,标准双人间/商务大床房</p>
          <dd><span class="jq font_04">¥88</span><span class="yjq">门店价：100</span><span class=" sl">已售24835</span>
            <div class="clear"></div>
          </dd>
        </div>
        <div class="pic">
        <div class="bq1"><img src="images/bq1.png" width="43" height="40" /></div>
        <img src="images/img_03.jpg" width="225" height="225" />
          <h1><a href="#" target="_blank">如家快捷酒店</a></h1>
          <p class="font_02">入住4小时,标准双人间/商务大床房</p>
          <dd><span class="jq font_04">¥88</span><span class="yjq">门店价：100</span><span class=" sl">已售24835</span>
            <div class="clear"></div>
          </dd>
        </div>
        <div class="pic">
        <div class="bq1"><img src="images/bq1.png" width="43" height="40" /></div>
        <img src="images/img_03.jpg" width="225" height="225" />
          <h1><a href="#" target="_blank">如家快捷酒店</a></h1>
          <p class="font_02">入住4小时,标准双人间/商务大床房</p>
          <dd><span class="jq font_04">¥88</span><span class="yjq">门店价：100</span><span class=" sl">已售24835</span>
            <div class="clear"></div>
          </dd>
        </div>
        <div class="pic" style="border-right:none;">
        <div class="bq1"><img src="images/bq1.png" width="43" height="40" /></div>
        <img src="images/img_03.jpg" width="225" height="225" />
          <h1><a href="#" target="_blank">如家快捷酒店</a></h1>
          <p class="font_02">入住4小时,标准双人间/商务大床房</p>
          <dd><span class="jq font_04">¥88</span><span class="yjq">门店价：100</span><span class=" sl">已售24835</span>
            <div class="clear"></div>
          </dd>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="conent">
      <div class="title"> <span class="fl"><img src="images/fl_04.png" width="32" height="17" /></span> <span class="bt">旅游娱乐</span> <span class="bq font_03"><a href="#" target="_blank">甜点饮品</a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a> &nbsp;&nbsp;<a href="#" target="_blank">小吃快餐</a>&nbsp;&nbsp; <a href="#" target="_blank">日韩料理</a>&nbsp;&nbsp; <a href="#" target="&nbsp;">西餐</a> &nbsp;&nbsp;<a href="#" target="_blank">聚餐宴请</a> &nbsp;&nbsp;<a href="#" target="_blank">烧烤烤肉</a>&nbsp;&nbsp; <a href="#" target="_blank">东北菜</a> &nbsp;&nbsp;<a href="#" target="_blank">川湘菜</a></span> </div>
      <div class="mun"> <img src="images/ad.png" width="198" height="198" />
        <ul>
          <h1 class="font_03"><a href="#" target="_blank">代金券</a></h1>
          <p class="font_02"><a href="#" target="_blank">甜点饮品 </a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a></p>
          <h1 class="font_03"><a href="#" target="_blank">代金券</a></h1>
          <p class="font_02"><a href="#" target="_blank">甜点饮品 </a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a></p>
          <h1 class="font_03"><a href="#" target="_blank">代金券</a></h1>
          <p class="font_02"><a href="#" target="_blank">甜点饮品 </a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a></p>
          <h1 class="font_03"><a href="#" target="_blank">代金券</a></h1>
          <p class="font_02"><a href="#" target="_blank">甜点饮品 </a>&nbsp;&nbsp; <a href="#" target="_blank">火锅</a> &nbsp;&nbsp;<a href="#" target="_blank">自助餐</a></p>
        </ul>
      </div>
      <div class="img">
        <div class="pic">
        <div class="bq1"><img src="images/bq1.png" width="43" height="40" /></div>
        <div class="bq2"><img src="images/bq2.png" width="43" height="40" /></div>
        <img src="images/img_04.jpg" width="225" height="225" />
          <h1><a href="#" target="_blank">F23量贩KTV（宏大广场店）</a></h1>
          <p class="font_02">1小时欢唱套餐</p>
          <dd><span class="jq font_04">¥15.9</span><span class="yjq">门店价：100</span><span class=" sl">已售24835</span>
            <div class="clear"></div>
          </dd>
        </div>
        <div class="pic">
        <div class="bq1"><img src="images/bq1.png" width="43" height="40" /></div>
        <div class="bq2"><img src="images/bq2.png" width="43" height="40" /></div>
        <img src="images/img_04.jpg" width="225" height="225" />
          <h1><a href="#" target="_blank">F23量贩KTV（宏大广场店）</a></h1>
          <p class="font_02">1小时欢唱套餐</p>
          <dd><span class="jq font_04">¥15.9</span><span class="yjq">门店价：100</span><span class=" sl">已售24835</span>
            <div class="clear"></div>
          </dd>
        </div>
        <div class="pic">
        <div class="bq1"><img src="images/bq1.png" width="43" height="40" /></div>
        <div class="bq2"><img src="images/bq2.png" width="43" height="40" /></div>
        <img src="images/img_04.jpg" width="225" height="225" />
          <h1><a href="#" target="_blank">F23量贩KTV（宏大广场店）</a></h1>
          <p class="font_02">1小时欢唱套餐</p>
          <dd><span class="jq font_04">¥15.9</span><span class="yjq">门店价：100</span><span class=" sl">已售24835</span>
            <div class="clear"></div>
          </dd>
        </div>
        <div class="pic" style="border-right:none;">
        <div class="bq1"><img src="images/bq1.png" width="43" height="40" /></div>
        <div class="bq2"><img src="images/bq2.png" width="43" height="40" /></div>
        <img src="images/img_04.jpg" width="225" height="225" />
          <h1><a href="#" target="_blank">F23量贩KTV（宏大广场店）</a></h1>
          <p class="font_02">1小时欢唱套餐</p>
          <dd><span class="jq font_04">¥15.9</span><span class="yjq">门店价：100</span><span class=" sl">已售24835</span>
            <div class="clear"></div>
          </dd>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <!--内容部分 结束--> 
    <!--资讯部分 开始-->
    <div class="nTab" style="margin-top:8px;">
      <div class="titlea" >
        <div class="TabTitle">
          <ul id="myTab">
            <li class="active" onClick="nTabs(this,0);">巴楚</li>
            <li class="normal" onClick="nTabs(this,1);">规划</li>
            <li class="normal" onClick="nTabs(this,2);">信息</li>
            <li class="normal" onClick="nTabs(this,3);">导览</li>
          </ul>
        </div>
      </div>
      <div class="TabContent">
        <div id="myTab_Content0">
          <div class=" mod_01 left">
            <div class="img"><img src="images/pic_01.jpg" width="210" height="240" /></div>
            <div class="txt">
              <h1><a href="#" target="_blank">巴楚县红海湾景区叶尔羌河灌区的一处风景秀</a></h1>
              <dd>红海湾水上乐园位于巴楚县境内，投资约1000万元，是叶尔羌河灌区的一处风景秀丽的水上景点，该旅游景区是以餐饮、水上娱乐为主。景区距县城9公里，在风景秀丽的红海湾水...<a href="#" target="_blank">【详细】</a></dd>
              <p></p>
            </div>
          </div>
          <div class=" mod_01 left" style="margin-left:20px;">
            <div class="img"><img src="images/pic_01.jpg" width="210" height="240" /></div>
            <div class="txt">
              <h1><a href="#" target="_blank">巴楚县红海湾景区叶尔羌河灌区的一处风景秀</a></h1>
              <dd>红海湾水上乐园位于巴楚县境内，投资约1000万元，是叶尔羌河灌区的一处风景秀丽的水上景点，该旅游景区是以餐饮、水上娱乐为主。景区距县城9公里，在风景秀丽的红海湾水...<a href="#" target="_blank">【详细】</a></dd>
              <p></p>
            </div>
          </div>
          <div class=" mod_01 right">
            <div class="img"><img src="images/pic_01.jpg" width="210" height="240" /></div>
            <div class="txt">
              <h1><a href="#" target="_blank">巴楚县红海湾景区叶尔羌河灌区的一处风景秀</a></h1>
              <dd>红海湾水上乐园位于巴楚县境内，投资约1000万元，是叶尔羌河灌区的一处风景秀丽的水上景点，该旅游景区是以餐饮、水上娱乐为主。景区距县城9公里，在风景秀丽的红海湾水...<a href="#" target="_blank">【详细】</a></dd>
              <p></p>
            </div>
          </div>
        </div>
        <div id="myTab_Content1" class="none">
          <div class=" mod_01 left">
            <div class="img"><img src="images/pic_02.jpg" width="210" height="240" /></div>
            <div class="txt">
              <h1><a href="#" target="_blank">红海湾景区叶尔羌河灌区的一处风景秀</a></h1>
              <dd>红海湾水上乐园位于巴楚县境内，投资约1000万元，是叶尔羌河灌区的一处风景秀丽的水上景点，该旅游景区是以餐饮、水上娱乐为主。景区距县城9公里，在风景秀丽的红海湾水...<a href="#" target="_blank">【详细】</a></dd>
              <p></p>
            </div>
          </div>
          <div class=" mod_01 left" style="margin-left:20px;">
            <div class="img"><img src="images/pic_02.jpg" width="210" height="240" /></div>
            <div class="txt">
              <h1><a href="#" target="_blank">红海湾景区叶尔羌河灌区的一处风景秀</a></h1>
              <dd>红海湾水上乐园位于巴楚县境内，投资约1000万元，是叶尔羌河灌区的一处风景秀丽的水上景点，该旅游景区是以餐饮、水上娱乐为主。景区距县城9公里，在风景秀丽的红海湾水...<a href="#" target="_blank">【详细】</a></dd>
              <p></p>
            </div>
          </div>
          <div class=" mod_01 right">
            <div class="img"><img src="images/pic_02.jpg" width="210" height="240" /></div>
            <div class="txt">
              <h1><a href="#" target="_blank">红海湾景区叶尔羌河灌区的一处风景秀</a></h1>
              <dd>红海湾水上乐园位于巴楚县境内，投资约1000万元，是叶尔羌河灌区的一处风景秀丽的水上景点，该旅游景区是以餐饮、水上娱乐为主。景区距县城9公里，在风景秀丽的红海湾水...<a href="#" target="_blank">【详细】</a></dd>
              <p></p>
            </div>
          </div>
        </div>
        <div id="myTab_Content2" class="none">
          <div class=" mod_01 left">
            <div class="img"><img src="images/pic_03.jpg" width="210" height="240" /></div>
            <div class="txt">
              <h1><a href="#" target="_blank">巴楚县红海湾景区叶尔羌河灌区的一处风景秀</a></h1>
              <dd>红海湾水上乐园位于巴楚县境内，投资约1000万元，是叶尔羌河灌区的一处风景秀丽的水上景点，该旅游景区是以餐饮、水上娱乐为主。景区距县城9公里，在风景秀丽的红海湾水...<a href="#" target="_blank">【详细】</a></dd>
              <p></p>
            </div>
          </div>
          <div class=" mod_01 left" style="margin-left:20px;">
            <div class="img"><img src="images/pic_03.jpg" width="210" height="240" /></div>
            <div class="txt">
              <h1><a href="#" target="_blank">巴楚县红海湾景区叶尔羌河灌区的一处风景秀</a></h1>
              <dd>红海湾水上乐园位于巴楚县境内，投资约1000万元，是叶尔羌河灌区的一处风景秀丽的水上景点，该旅游景区是以餐饮、水上娱乐为主。景区距县城9公里，在风景秀丽的红海湾水...<a href="#" target="_blank">【详细】</a></dd>
              <p></p>
            </div>
          </div>
          <div class=" mod_01 right">
            <div class="img"><img src="images/pic_03.jpg" width="210" height="240" /></div>
            <div class="txt">
              <h1><a href="#" target="_blank">巴楚县红海湾景区叶尔羌河灌区的一处风景秀</a></h1>
              <dd>红海湾水上乐园位于巴楚县境内，投资约1000万元，是叶尔羌河灌区的一处风景秀丽的水上景点，该旅游景区是以餐饮、水上娱乐为主。景区距县城9公里，在风景秀丽的红海湾水...<a href="#" target="_blank">【详细】</a></dd>
              <p></p>
            </div>
          </div>
        </div>
        <div id="myTab_Content3" class="none">
          <div class=" mod_01 left">
            <div class="img"><img src="images/pic_04.jpg" width="210" height="240" /></div>
            <div class="txt">
              <h1><a href="#" target="_blank">巴楚县红海湾景区叶尔羌河灌区的一处风景秀</a></h1>
              <dd>红海湾水上乐园位于巴楚县境内，投资约1000万元，是叶尔羌河灌区的一处风景秀丽的水上景点，该旅游景区是以餐饮、水上娱乐为主。景区距县城9公里，在风景秀丽的红海湾水...<a href="#" target="_blank">【详细】</a></dd>
              <p></p>
            </div>
          </div>
          <div class=" mod_01 left" style="margin-left:20px;">
            <div class="img"><img src="images/pic_04.jpg" width="210" height="240" /></div>
            <div class="txt">
              <h1><a href="#" target="_blank">巴楚县红海湾景区叶尔羌河灌区的一处风景秀</a></h1>
              <dd>红海湾水上乐园位于巴楚县境内，投资约1000万元，是叶尔羌河灌区的一处风景秀丽的水上景点，该旅游景区是以餐饮、水上娱乐为主。景区距县城9公里，在风景秀丽的红海湾水...<a href="#" target="_blank">【详细】</a></dd>
              <p></p>
            </div>
          </div>
          <div class=" mod_01 right">
            <div class="img"><img src="images/pic_04.jpg" width="210" height="240" /></div>
            <div class="txt">
              <h1><a href="#" target="_blank">巴楚县红海湾景区叶尔羌河灌区的一处风景秀</a></h1>
              <dd>红海湾水上乐园位于巴楚县境内，投资约1000万元，是叶尔羌河灌区的一处风景秀丽的水上景点，该旅游景区是以餐饮、水上娱乐为主。景区距县城9公里，在风景秀丽的红海湾水...<a href="#" target="_blank">【详细】</a></dd>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <!--资讯部分 结束-->
    <div class="line"></div>
    <div class="kefu">
      <div class="mod_a">
        <div class="kf font_02">
          <h1>客服电话</h1>
          <p>0991-0000000(9:00-23:00)</p>
<!--           <p>退货、退款查看券码</p> -->
          <p>参考教程轻松搞定</p>
        </div>
      </div>
      <div class="mod_b font_02">
        <h1>帮助中心</h1>
        <ul>
          <li><a href="#" target="_blank">申请退款</a></li>
          <li><a href="#" target="_blank">查看券密码</a></li>
          <li><a href="#" target="_blank">常见问题</a></li>
          <li><a href="#" target="_blank">开放API</a></li>
          <li><a href="#" target="_blank">反诈骗公告</a></li>
        </ul>
      </div>
      <div class="mod_b font_02">
        <h1>关于我们</h1>
        <ul>
          <li><a href="#" target="_blank">关于我们</a></li>
          <li><a href="#" target="_blank">合作流程</a></li>
          <li><a href="#" target="_blank">关于我们</a></li>
          <li><a href="#" target="_blank">合作流程</a></li>
          <li><a href="#" target="_blank">关于我们</a></li>
          <li><a href="#" target="_blank">合作流程</a></li>
          <li><a href="#" target="_blank">关于我们</a></li>
          <li><a href="#" target="_blank">合作流程</a></li>
        </ul>
      </div>
      <div class="mod_a font_02" style="border-right:none; text-align:center"> <img src="$!webPath/resources/style/shop/default/images/ewm.png" width="120" height="120" />
        <p>扫一扫 领取更多福利</p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="foot">
    <p>主办：思路巴楚  承办：巴楚************************  备案信息：新ICP备************号</p>
    <P>地址：新疆巴楚县*********　　邮编：843800　　E-mail：***************** </P>
    <p>&nbsp;</p>
    <p><img src="$!webPath/resources/style/shop/default/images/pic_06.jpg" width="43" height="50" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="$!webPath/resources/style/shop/default/images/pic_07.jpg" width="118" height="50" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="$!webPath/resources/style/shop/default/images/pic_08.jpg" width="128" height="50" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="$!webPath/resources/style/shop/default/images/pic_09.jpg" width="104" height="50" /></p>
  </div>
</div>
</body>
</html>
