body,div,ul,li,dl,dt,dd,h2,p{padding:0;margin:0;}
body{ font-family:"微软雅黑"}
ul{list-style:none ;}
img{border:none;}
a{blr:expression(this.onFocus=this.blur());outline:none;text-decoration:none;}
a:hover{text-decoration:underline;}
.clearfix:after{content:" ";clear:both;height:0;visibility:hidden;display:block;}
.clearfix{*zoom:1;}
.fr { float: right; }

/*本例css*/
.warpper{width:1180px; height:400px; margin:0px auto 0 auto; position:relative;}
.menu{padding-left:200px;}
.menu,.menu ul li,.menu ul li a{height:41px;line-height:41px;background:#00afc7 }
.menu ul li,.menu ul li a{float:left;position:relative;}
.menu ul li span.hot{display:block;width:29px;height:17px;background:url(../images/hot.png) no-repeat;position:absolute;left:50px;top:-10px;}
.menu ul li a{display:block;padding:0 28px 0 28px;color:#FFFFFF;font-size:14px; }
.menu ul li a:hover{background:#12c9e2;text-decoration:none;}

#nav{width:200px; height:401px; position:relative;top:-41px;background:#00a4ba;z-index:1;}

#nav .mod_cate_hd{height:40px;line-height:40px;font-size:16px;color:#FFFFFF;text-indent:7px;background-color:#00a4ba;  background: url(../images/line.jpg) repeat-x center bottom; }
#nav .mod_cate,#nav .mod_cate2{height:41px; background: url(../images/line.jpg) no-repeat center bottom; padding:9px 10px 10px 10px;}
#nav .mod_cate h2,#nav .mod_cate2 h2{font-size:14px;font-weight:normal;}
#nav .mod_cate h2 a,#nav .mod_cate2 h2 a{color:#FFFFFF;padding-right:5px;}
#nav .mod_cate a.hot_sub{background:#117e8d;font-size:12px;border-radius:9px;padding:0px 5px;margin-left:5px;}
#nav .mod_cate_r{line-height:24px;font-style:normal;font-variant:normal;}
#nav .mod_cate_r a{font-size:12px;color:#fff;padding-right:5px;}
#nav .mod_cate2{background:none;}
#nav .mod_cate2 a.yel{color:#fee602;}
#nav .mod_subcate{display:none;width:770px;height:356px;border:2px #18c0d7 solid;background:#FFFFFF;position:absolute;top:41px;z-index:999;left:198px;overflow:hidden;}

#nav .mod_subcate_main{width:770px;padding:0px 20px 1000px 20px;margin-bottom:-1000px;float:left; z-index:999;}
#nav .mod_subcate_line{width:100%;height:1px;clear:both;font-size:0px;margin-bottom:5px;border-top:5px #fff solid;border-bottom:1px #dadada dotted;overflow:hidden;display:block;}
#nav .mod_subcate_main dl{padding:7px 0 7px 65px;border-bottom:1px #e5e5e5 solid;overflow:hidden;}
#nav .mod_subcate_main dl dt{width:65px;font-size:12px;color:#117e8d;line-height:22px;font-style:normal;font-variant:normal;font-weight:700;margin-left:-65px;float:left;font-size-adjust:none;font-stretch:normal }
#nav .mod_subcate_main dl dd{line-height:22px;overflow:hidden;}
#nav .mod_subcate_main dl dd a{color:#00afc7;font-size:12px;margin:0 5px 0 5px;float:left;display:inline;white-space:nowrap;}
#nav .mod_subcate_main dl dd a.org{color:#ff7300;}
#nav .mod_subcate_channel{clear:both;margin-top:15px;} 
#nav .mod_subcate_channel .mod_btn_arrow{height:26px;line-height:26px;font-size:12px;padding:0 10px 0 10px;margin-left:5px;text-decoration:none;color:#FFFFFF;background:#00afc7;cursor:pointer;display:inline-block;}
#nav .mod_subcate_channel .mod_btn_arrow b{font-weight:normal;float:left;}
#nav .arrow_dot { width:0px;height:0px;overflow:hidden;font-size:0px;margin:9px 0 0 5px;border:4px transparent dashed;border-left:4px #FFFFFF solid;}



#nav .on{padding:8px 10px 9px 8px;border-top:2px #17acc0 solid;border-bottom:2px #17acc0 solid;margin-left:2px;background:#FFFFFF;}
#nav .on h2 a{color:#117e8d;}
#nav .on .mod_subcate{display:block !important;/* !important 强制显示，否则会闪烁*/ }
#nav .on .mod_cate_r a{color:#00afc7;}
#nav .on a.hot_sub{color:#FFFFFF;}



/*热门活动*/
.mod_subcate_side_hotlist{margin-left:4px;}
.mod_subcate_side_hotlist li{height:20px;font-size:12px;color:#00afc7;overflow:hidden;}
.mod_subcate_side_hotlist li a{color:#00afc7;}

/*ad*/
.mod_subcate_gg{display:block;position:absolute;bottom:0;right:0;}

#hdp{ width:740px; height:350px; position: absolute; left:210px; top:51px; }
#tzgg{ width:218px; height:360px; position: absolute;  left:960px; top:41px; border:1px solid #e4eff0; background:#f2fcfe; border-top: none;}
#tzgg .ewm{ width:146px; height:146px; margin:10px auto 0px auto;}
#tzgg p{ text-align:center; line-height:30px; font-size:12px;}
#tzgg .title{ height:32px; border-bottom:1px solid #e4eff0; border-top:1px solid #e4eff0; background: url(../images/ico.png) no-repeat 10px center; text-indent:25px; color:#F60; line-height:32px; font-size:14px; font-weight:bold;}
#tzgg ul{ margin-top:3px;}
#tzgg ul li{ line-height:26px; background: url(../images/ico_01.png) no-repeat 10px center; text-indent:20px;}

/*焦点图*/
.focus{ position:relative; width:740px; height:350px; background-color: #000; float: left;}  
.focus img{ width:740px; height: 350px;} 
.focus .shadow .title{width: 260px; height: 65px;padding-left: 30px;padding-top: 20px;}
.focus .shadow .title a{ text-decoration:none; color:#fff; font-size:14px; font-weight:bolder; overflow:hidden; }
.focus .btn{ position:absolute; bottom:34px; left:510px; overflow:hidden; zoom:1;} 
.focus .btn a{position:relative; display:inline; width:13px; height:13px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }  
.focus .btn a:hover,.focus .btn a.current{  cursor:pointer;background:#fc114a;}  
.focus .fPic{ position:absolute; left:0px; top:0px; }  
.focus .D1fBt{ overflow:hidden; zoom:1;  height:16px; z-index:-1;  }  
.focus .shadow{ width:100%; position:absolute; bottom:0; left:0px; z-index:-1; height:80px; line-height: 80px; background:rgba(0,0,0,0.6);    
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block;  text-align:left; }  
.focus .shadow a{ text-decoration:none; color:#fff; font-size:20px; overflow:hidden; margin-left:10px; font-family: "\5FAE\8F6F\96C5\9ED1";}  
.focus .fcon{ position:relative; width:100%; float:left;  display:none; background:#000  }  
.focus .fcon img{ display:block; }  
.focus .fbg{bottom:25px; right:40px; position:absolute; height:21px; text-align:center; z-index:0; }  
.focus .fbg div{margin:4px auto 0;overflow:hidden;zoom:1;height:14px}    
.focus .D1fBt a{position:relative; display:inline; width:12px; height:12px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }    
.focus .D1fBt .current,.focus .D1fBt a:hover{background:#fc114a;}    
.focus .D1fBt img{display:none}    
.focus .D1fBt i{display:none; font-style:normal; }    
.focus .prev,.focus .next{position:absolute;width:40px;height:74px;background: url(../images/focus_btn.png) no-repeat;}
.focus .prev{top: 50%;margin-top: -37px; left: 0;background-position:0 -74px; cursor:pointer; }  
.focus .next{top: 50%;margin-top: -37px; right: 0;  background-position:-40px -74px;  cursor:pointer;}  
.focus .prev:hover{  background-position:0 0; }  
.focus .next:hover{  background-position:-40px 0;}  
